<div class="bg-white">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        KICKBASE
        <br />
        Start trading today.
      </h2>
      <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-gray-600">
        KICKBASE analytics by utilizing the API
      </p>
      <button class="p-4 mt-6 text-zinc-50 text-xl rounded bg-rose-600" type="submit">
        <a href="/login">Get Started</a>
      </button>
    </div>
  </div>
</div>
